/* You can add global styles to this file, and also import other style files */

/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

tr {
  width: 100%;
}
