

<div class="imgpos">
  <img src="../assets/psg.png" alt="psg logo" width="50px" height="50px">
</div>

<div class="header">
  <p><b>TECHNICAL INSPECTION CENTER 6</b></p>
  <p>PRESIDENTIAL GUARDS BATTALION, PRESIDENTIAL SECURITY GROUP</p>
  <p>MALACAÑANG PALACE COMPLEX, MANILA</p>
  <br>
  <p><b>COVID-19 ANTIGEN TEST FORM</b></p>
</div>



  <div class="dateguest">
    <p>Date: <u><b>{{ datenow | date: 'mediumDate'}}</b></u></p>
    <p><b>Guest No: _______________</b></p>
  </div>


<div class="temp">
  <p><b>Temperature: _______________</b></p>
</div>

<div class="nameagegender">
  <div class="namedata">
    <p style="height: 0px;"><b>{{ name }}</b></p>
    <p style="height: 2px;">_____________________________________________________________________</p>
    <span >Complete Name</span>
  </div>
  <div style="text-align: center;">
    <p style="height: 0px;"><b>{{ age }}</b></p>
    <p style="height: 2px;">________</p>
    <p>Age</p>
  </div>
  <div style="text-align: center;">
    <p style="height: 0px;"><b>{{ gender }}</b></p>
    <p style="height: 2px;">________</p>
    <p>Gender</p>
  </div>
</div>

<div class="officecontact">
  <div style="text-align: center;">
    <p style="height: 2px;"><b>{{ office }}</b></p>
    <p style="height: 2px;">_____________________________________________________________________</p>
    <p>Office</p>
  </div>
  <div style="text-align: center;">
    <p style="height: 2px;"><b>{{ contact }}</b></p>
    <p style="height: 2px;">______________________________________</p>
    <p>Contact Number</p>
  </div>
</div>

<div class="covidresult">
  <p><b>Covid Ag Test Result:</b>   _____________</p>
</div>

<div class="perforation"></div>
