<div>
  <img src="../assets/psg.png" alt="psg logo" width="100px" height="100px">
</div>

<div class="header">
  <p>TECHNICAL INSPECTION CENTER 6</p>
  <p>PRESIDENTIAL GUARDS BATTALION, PRESIDENTIAL SECURITY GROUP</p>
  <p>MALACAÑANG PALACE COMPLEX, MANILA</p>
</div>

<div>
  <p>COVID-19 ANTIGEN TEST FORM</p>
</div>

<div>
  <p>Date: ___________________</p>
  <p>Guest No: _______________</p>
</div>

<div>
  <p>Temperature: ____________</p>
</div>

<div>
  <p>_________________________</p>
  <p>_________________________</p>
  <p>________</p>
</div>

<div>
  <p>Surname</p>
  <p>First Name</p>
  <p>MI</p>
</div>


<div>
  <p>________</p>
  <p>________</p>
  <p>_________________________</p>
  <p>_________________________</p>
</div>

<div>
  <p>Age</p>
  <p>Gender</p>
  <p>Office</p>
  <p>Contact Number</p>
</div>

<div>
  <p>Covid Ag Test Result:   _____________</p>
</div>
