
<div>
  <img src="../assets/psg.png" alt="psg logo" width="30px" height="30px">
  <p>COVID-19 ANTIGEN TEST FORM</p>
  <p>Date: {{ datenow | date: 'mediumDate'}}</p>
  <p>Guest No:    _______________</p>
  <p>Temperature: _______________</p>
  <p>Name:</p>
  <p>{{ name }}</p>
  <p>Office:</p>
  <p>{{ office }}</p>
  <p>Age:         _______________</p>
  <p>Gender:      _______________</p>
  <p>Contact No:  _______________</p>
  <p>Covid Ag Test Result: </p>
  <br>
  <p>___________________________</p>
</div>
