
// 1/4 of letter size
* {
  font-family: Arial;
  font-size: 11px;
}

.header {
  text-align: center;
  line-height: 5px;
}

.imgpos {
  position: fixed;
  top: 0;
  left: 50px;
}

.dateguest {
  display: flex;
  justify-content: space-between;
  height: 1rem;
}

.temp {
  display: flex;
  justify-content: flex-end;
  height: 1.5rem;
}

.covidresult {
  display: flex;
  justify-content: flex-end;
  height: 1rem;
}


.nameagegender {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;

}

.namedata {
  text-align: center;
}


.officecontact {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}



.perforation {
  border-top: 1px dotted gray; /* Creates a dotted line */
  margin: 20px; /* Adds some space above and below the line */

}


